.search-container {
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 20px;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin: 0 auto;
}

.form-control {
  margin: 0px 5px 0px 0px;
}

.btn-list-filter {
  width: 30%;
  margin: 10px auto;
  padding: 10px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
