<div class="banner">
  <div class="header-container">
    <h1>A DAY IN A MOVIE</h1>
    <p>Le temps d'une journée, entrez dans la peau de votre héros préféré</p>
    <%= link_to "Réservez un objet", props_path, :class => "btn btn-flat" %>
  </div>
</div>

<div class="banner-objects">
<h2>Découvrez les objets à louer</h2>
</div>
